/* Color Theme Swatches in Hex

.background\\u00F3n-ambientalista-1-hex { color: #204F8C; }
.color-theme__\\u00F3n-ambientalista-2-hex { color: #3370A6; }
.color-theme__\\u00F3n-ambientalista-3-hex { color: #4B9EBF; }
.principal\\u00F3n-ambientalista-4-hex { color: #F2DF7E; }
.destaque\\u00F3n-ambientalista-5-hex { color: #F2A413; } */
.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto
}

aside ul{
    list-style-type: none;
}

aside ul li{
    margin-top: 1em;
    text-align: center;
}

.main footer {
    margin: 4%;
}

a {
    color: #4B9EBF;
}

.main footer a {
    border: solid 2px #F2A413; 
    padding: 0.5em;
    display: inline-block;
}

#zen-intro {height: 550px;
}

#design-archives {display: none;
}

#zen-intro header {
    background-color:#F2DF7E;
    color: #204F8C;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}
    
#zen-intro h1 {
    margin-left: 1em;
    margin-right: 1em;
}


@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
html {
    background: #204F8C ;
    color:  #F2DF7E;
    
    font-size: 22px;
    font-family: "Italiana", sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

#zen-summary {
    text-align: center;
}

#zen-supporting p {
    line-height: 1.5;
}

abbr {
    font-variant-caps: small-caps;
}