/* Color Theme Swatches in Hex

.background\\u00F3n-ambientalista-1-hex { color: #204F8C; }
.color-theme__\\u00F3n-ambientalista-2-hex { color: #3370A6; }
.color-theme__\\u00F3n-ambientalista-3-hex { color: #4B9EBF; }
.principal\\u00F3n-ambientalista-4-hex { color: #F2DF7E; }
.destaque\\u00F3n-ambientalista-5-hex { color: #F2A413; }*/

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
html {
    background: #204F8C ;
    color:  #F2DF7E;
    
    font-size: 22px;
    font-family: "Italiana", sans-serif;
}
h1, h2, h3 {
    text-align: center;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}
#zen-summary {
    text-align: center;
}
#zen-supporting p {
    line-height: 1.5;
}
abbr {
    font-variant-caps: small-caps;
}